.project {
  .project-card {
    & > * {
      flex: 1 1 calc(50% - 1.5rem); 
      min-width: 225px; 
    }
  }
}

@media (max-width: 1000px) {
  .project {
    .project-card {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}