.app {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 4rem;
  margin: 0px;

  .header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1.5rem;
  }
}