.category-name {
  .category-title {
    margin-bottom: 1rem;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Quicksand", Arial, sans-serif;
  }

  .category-desc {
    font-family: "Playfair Display", Georgia, serif;
    margin-bottom: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
  }
}