.page-view {
  .ant-statistic-title {
    margin-bottom: 1rem;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Quicksand", Arial, sans-serif;
  }

  .ant-statistic-content {
    margin-bottom: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
  }
}