.content {
  padding: 0 1.5rem;
  height: calc(100vh - 3rem);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.content::-webkit-scrollbar {
  width: 0.5rem; 
}

.content::-webkit-scrollbar-thumb {
  background-color: #2c98f0;
  border-radius: 6px; 
  border: 3px solid transparent; 
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: #00CCFF;
}

.content::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 6px; 
}
