.download-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 959px) {
  .download-button .ant-btn-text {
    display: none !important;
  }

  .download-button {
    padding: 0 8px;
    min-width: auto;
    width: 40px;
  }
}